<dx-load-panel [visible]="isLoading" [shading]="true" width="600" height="300">
  <dxo-position at="center" of="'#gridContainer'"> </dxo-position>
</dx-load-panel>

<dx-data-grid
  id="gridContainer"
  [allowColumnReordering]="false"
  [allowColumnResizing]="false"
  [dataSource]="gridSource$ | async"
  [columnAutoWidth]="true"
  [showBorders]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onContentReady)="onContentReady($event)"
>
  <!-- <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling> -->

  <dxi-column
    [allowSorting]="false"
    dataField="figure"
    caption="Prof. figure"
    cellTemplate="figureTemplate"
    headerCellTemplate="titleHeaderTemplate"
  ></dxi-column>
  <dxi-column
    [allowSorting]="false"
    [width]="120"
    dataField="actions"
    caption="Actions"
    cellTemplate="actionsTemplate"
    headerCellTemplate="titleHeaderTemplate"
  ></dxi-column>
  <dxi-column
    [allowSorting]="false"
    [width]="120"
    dataField="area"
    caption="Practice / Discipline"
    cellTemplate="areaTemplate"
    headerCellTemplate="titleHeaderTemplate"
  ></dxi-column>
  <dxi-column
    [allowSorting]="false"
    dataField="hours"
    caption="Hrs"
    [width]="80"
    cellTemplate="hoursTemplate"
    headerCellTemplate="titleHeaderTemplate"
  ></dxi-column>
  @for(element of selectedQuarter; track $index){
  <dxi-column
    [allowSorting]="false"
    [dataField]="element"
    headerCellTemplate="dateHeaderTemplate"
  ></dxi-column>
  }

  <!-- Professional Figure CELL template -->
  <div *dxTemplate="let info of 'figureTemplate'">
    @if (info.data['figure']!= '') {
    <div [appColoredBadge]="'#6679A0'">
      {{ info.data["figure"] }}
    </div>
    }
  </div>

  <!-- Actions CELL template -->
  <div *dxTemplate="let info of 'actionsTemplate'">
    <!-- // TODO pipe per trasformare sto schifo -->
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      "
    >
      @for (item of info.data["actions"]; track $index) {
      <i
        class="dx-icon-{{ item.name }}"
        [ngStyle]="{ color: item.color, 'font-size': '24px' }"
      ></i>
      }
    </div>
  </div>

  <!-- Area CELL template -->
  <div *dxTemplate="let info of 'areaTemplate'">
    @if (info.data['area']) {
    <div appColoredBadge [borderColor]="'#6679A0'">
      {{ info.data["area"] }}
    </div>
    }
  </div>

  <!-- Hours CELL template -->
  <div *dxTemplate="let info of 'hoursTemplate'">
    <!-- //TODO pipe per trasformare sto schifo -->
    <div
      [appColoredBadge]="
        info.data['hours'].scheduled < info.data['hours'].tot
          ? 'yellow'
          : 'lightgreen'
      "
    >
      <div [ngStyle]="{ color: '#000' }">
        {{ info.data["hours"].scheduled }}/{{ info.data["hours"].tot }}
      </div>
    </div>
  </div>

  <!-- Title HEADER template -->
  <div *dxTemplate="let info of 'titleHeaderTemplate'">
    <div class="header-badge" [appColoredBadge]="'#1f4e79'">
      {{ info.column.caption }}
    </div>
  </div>

  <!-- Date/Weeks HEADER template -->
  <div *dxTemplate="let info of 'dateHeaderTemplate'">
    <div class="header-date">
      {{ info.column.dataField }}
    </div>
  </div>
</dx-data-grid>
