<main>
    <header>
        <section class="action_buttons">
            <app-action-button helpText="Publish" bgColor="#3367D6" textColor="#fff">
            </app-action-button>
            <app-action-button helpText="Save" bgColor="#BDBDBD"></app-action-button>
            <app-action-button helpText="Add Discipline" bgColor="#90ee90"></app-action-button>
        </section>
        <section class="filters">
            <div>Additional filters here</div>
        </section>
    </header>
    <dx-load-panel [visible]="isLoading" [shading]="true" shadingColor="'#000000'" [showPane]="false">
        <dxo-position at="center"> </dxo-position>
    </dx-load-panel>
    <section id="proposalContainer" style="height: 75vh">
        <!-- <app-data-grid-container [source]="dataSource$"></app-data-grid-container> -->
         <app-data-grid-contract [source]="dataSource$"></app-data-grid-contract>
    </section>

    <footer>
        <app-quarters-toolbar [startingDate]="startingDate"></app-quarters-toolbar>
    </footer>
</main>